<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div class="col-5 col-md-4">
        <div class="icon-big text-center icon-warning">
          <i *ngIf="!image && icon" [class]="'nc-icon nc-' + icon + ' text-danger'"></i>
          <img *ngIf="image" [alt]="image" [src]="backendImagePath() + image"/>
        </div>
      </div>
      <div class="col-7 col-md-8">
        <div class="numbers">
          <p class="card-category">{{ title }}</p>
          <p class="card-title">{{ value ? value : '---' }}</p></div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <hr>
    <a href="{{ helpLink }}" class="stats">{{ helpText }}</a>
  </div>
</div>
