<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          {{ '© ' +  year + ' Utair Virtual Team.' }}
        </span>
      </div>
    </div>
  </div>
</footer>
