<ng-container *ngIf="tripInfo && tripInfo.aircraft.stats">
    <div class="modal-header">
        <h6 class="card-title text-primary">Aircraft stats: {{ tripInfo.aircraft.registration }} ({{ tripInfo.aircraft.icao }})</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('close')"></button>
    </div>
    <div class="modal-body">
        <div class="boarding-pass">
            <div class="row">
                <div class="col-md-6">
                    <label for="acTotalFC" class="form-label small">acTotalFC</label>
                    <input type="text" id="acTotalFC" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.acTotalFC" readonly />
                </div>
                <div class="col-md-6">
                    <label for="acTotalFH" class="form-label small">acTotalFH</label>
                    <input type="text" id="acTotalFH" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.acTotalFH" readonly />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="lastFlightAt" class="form-label small">lastFlightAt</label>
                    <input type="text" id="lastFlightAt" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.lastFlightAt" readonly />
                </div>
                <div class="col-md-6">
                    <label for="latestFiftyCheckAt" class="form-label small">latestFiftyCheckAt</label>
                    <input type="text" id="latestFiftyCheckAt" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.latestFiftyCheckAt" readonly />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="latestThousandCheckAt" class="form-label small">latestThousandCheckAt</label>
                    <input type="text" id="latestThousandCheckAt" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.latestThousandCheckAt" readonly />
                </div>
                <div class="col-md-6">
                    <label for="latestTwoHundredCheckAt" class="form-label small">latestTwoHundredCheckAt</label>
                    <input type="text" id="latestTwoHundredCheckAt" class="form-control form-control-sm" [value]="tripInfo.aircraft.stats.latestTwoHundredCheckAt" readonly />
                </div>
            </div>
        </div>
    </div>
</ng-container>
