<div class="card" *ngIf="logbook">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title">Допуски на типы ВС</h4>
    <button [disabled]="typeRatingExams.length" class="btn btn-outline-primary d-flex align-items-center" #addRatingBtn (click)="openAddRatingModal(addRatingModal)"><span
      class="fa fa-plus"></span><span class="ms-2">Получить type rating</span></button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <ng-container *ngIf="logbook.typeRatings?.length">
          <tr *ngFor="let typeRating of logbook.typeRatings">
            <td>{{ typeRating.name }} ({{ getTypeRatingAcTypes(typeRating) }})</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="typeRatingExams.length">
          <tr *ngFor="let exam of typeRatingExams">
            <td>
              <div class="d-flex align-items-center">
                <span>Назначен экзамен {{ exam.aircraftType }}. Доступен с {{ exam.date }}</span>
                <button [disabled]="!isDateApplicable(exam)" (click)="router.navigate(['/', 'dashboard', 'exam', exam.id])" class="ms-auto btn btn-primary">Начать</button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!logbook.typeRatings?.length && !typeRatingExams.length">
          <tr>
            <td>Тут пока ничего нет. <a href="javascript:void(0)" ngbPopover="Можно запросить новый рейтинг нажав на эту кнопку" placement="left" container="body" [positionTarget]="addRatingBtn">Как получить?</a></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #addRatingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title my-0" id="add-new-type-rating">Добавить новый допуск</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <span class="fw-light">Для того чтобы получить новый допуск - необходимо сдать экзамен. Выберите необходимый тип ВС и нажмите "Запросить экзамен"</span>
      <div class="mt-3">
        <select class="form-select" *ngIf="availableTypeRatings()" [formControl]="typeRatingFormInput">
          <option *ngFor="let rating of availableTypeRatings()" [value]="rating.id">{{ rating.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="requestRatingExam()">Запросить экзамен</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel')">Отмена</button>
  </div>
</ng-template>
