<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="wrapper">
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <div class="main-panel">
    <app-dashboard-header></app-dashboard-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-dashboard-footer></app-dashboard-footer>
  </div>
</div>
