<div class="mb-3" *ngIf="leg">
    <div class="card mb-2 border-secondary">
        <div class="boarding-pass">
            <div class="d-flex">
                <h6 class="card-title text-primary flex-grow-1">{{ leg.callsign }}: {{ leg.from.city }} -> {{ leg.to.city }}</h6>
                <div [class]="{ 'text-success': leg.status === 'created', 'text-warning': leg.status === 'started', 'text-info': leg.status === 'arrived' }">{{ leg.status }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="departure-{{ index }}" class="form-label text small">Departure Airport</label>
                    <input type="text" id="departure-{{ index }}" class="form-control form-control-sm" [value]="leg.from.icao + ' - ' + leg.from.name" readonly/>
                </div>
                <div class="col-md-6">
                    <label for="arrival-{{ index }}" class="form-label small">Arrival Airport</label>
                    <ng-container *ngIf="leg.to.icao">
                        <input type="text" id="arrival-{{ index }}" class="form-control form-control-sm" [value]="leg.to.icao + ' - ' + leg.to.name" readonly/>
                    </ng-container>
                    <ng-container *ngIf="!leg.to.icao">
                        <button class="btn btn-sm btn-default d-block mt-1" (click)="openSelectArrivalModal(selectArrivalModal)">Select arrival</button>
                        <ng-template #selectArrivalModal let-modal>
                            <app-trip-leg-select-destination-modal [previousLeg]="leg" [tripInfo]="tripInfo" (destinationSelected)="addNewLeg($event); modal.close('close')" (modalClosed)="modal.close('cancel')"></app-trip-leg-select-destination-modal>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="distance-{{ index }}" class="form-label small">Distance (Km)</label>
                    <input type="text" id="distance-{{ index }}" class="form-control form-control-sm" [value]="leg.averageDistance" readonly/>
                </div>
                <div class="col-md-6">
                    <label for="duration-{{ index }}" class="form-label small">Estimated Duration</label>
                    <input type="text" id="duration-{{ index }}" class="form-control form-control-sm" [value]="leg.averageDutyTime" readonly/>
                </div>
            </div>
            <div class="row mt-4 top-dashed pt-4">
                <div class="col-12">
                    <h6>Selected alternates:</h6>
                </div>
                <div class="col-12">
                    <ng-container *ngIf="availableAlternates.length && leg.selectedAlternates.length">
                        <div class="d-flex mt-2" *ngFor="let alternate of leg.selectedAlternates">
                            <div class="w-25">{{ getAlternateDetailsByIcao(alternate).city }} ({{ getAlternateDetailsByIcao(alternate).icao }})</div>
                            <div class="w-75">{{ getAlternateDetailsByIcao(alternate).currentMetar }}</div>
                        </div>
                        <a class="btn btn-default btn-sm" href="javascript:void(0)" *ngIf="leg.status ==='created'" (click)="openSelectAlternatesModal(selectAlternatesModal)">Change</a>
                    </ng-container>
                    <ng-container *ngIf="!leg.selectedAlternates.length">
                        <a class="btn btn-default btn-sm" href="javascript:void(0)" *ngIf="leg.status ==='created'" (click)="openSelectAlternatesModal(selectAlternatesModal)">Select alternates</a>
                    </ng-container>
                    <ng-template #selectAlternatesModal let-modal>
                        <div class="modal-header">
                            <h6 class="card-title text-primary">Alternates for {{ leg.to.name }} ({{ leg.to.icao }})</h6>
                            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('close')"></button>
                        </div>
                        <div class="modal-body" *ngIf="availableAlternates">
                            <div class="d-flex flex-column">
                                <ng-container *ngFor="let alternate of availableAlternates; let i = index;">
                                    <div [class]="{'alternate-select-item': true, 'boarding-pass': true, 'd-flex': true, 'flex-nowrap': true, 'mb-3': true, 'selected': selectedAlternates.includes(alternate)}" (click)="toggleSelected(alternate)">
                                        <div class="flex-grow-1 fw-bold">{{ alternate.city }} ({{ alternate.icao }})</div>
                                        <div class="ms-3">{{ alternate.currentMetar }}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="saveAlternates(); modal.close('Saved');">Сохранить выбор</button>
                            <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel')">Отмена</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="row mt-4 top-dashed pt-4">
                <div class="col-12">
                    <button class="btn btn-sm btn-outline-default">Calculate flight plan (SimBrief)</button>
                </div>
            </div>
        </div>
    </div>
</div>
