<pre>{{ fsData | json }}</pre>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">
        <h2 class="text-center mb-3">Login</h2>
        <form (submit)="login()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
