<div class="card card-user" *ngIf="logbook">
  <div class="image"></div>
  <div class="card-body">
    <div class="author">
      <img *ngIf="logbook.avatar" class="avatar border-white" [src]="logbook.avatar" [alt]="logbook.name">
      <div *ngIf="!logbook.avatar" class="avatar-stub-wrapper">
        <div class="avatar border-white stub">{{ logbook.name.charAt(0).toUpperCase() }}</div>
      </div>
      <h4 class="title">{{ logbook.name }}<br>
        <a href="#"><small class="fw-light">{{ logbook.email }}</small></a>
      </h4>
    </div>
    <p class="card-description text-center"></p>
  </div>
  <hr>
  <div class="text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>{{ logbook.logbookItems?.length  || '---' }}<br><small class="fw-light fs-6">Полётов</small></h5>
      </div>
      <div class="col-md-4">
        <h5>{{ logbook.flightTime || '---' }}<br><small class="fw-light fs-6">Итого время</small></h5>
      </div>
      <div class="col-md-4">
        <h5>{{ logbook.location  || '---' }}<br><small class="fw-light fs-6">Местонахождение</small></h5>
      </div>
    </div>
  </div>
</div>
