.avatar-stub-wrapper {
  display: flex;
  justify-content: center;

  .avatar.stub {
    background: #212529;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
  }
}
