<div class="card shadow mb-3" *ngIf="tripInfo">
    <div class="card-header bg-secondary text-white">
        <h6>Route Planner</h6>
    </div>
    <div class="card-body">
        <app-trip-leg *ngFor="let leg of tripInfo.legs; let i = index" [leg]="leg" [index]="i" [tripInfo]="tripInfo" (tripUpdated)="emitTripUpdated($event)"></app-trip-leg>

        <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="tripInfo.status === 'booked'">
            <button class="btn btn-sm btn-secondary" (click)="addLeg()">Add Leg</button>
            <button class="btn btn-sm btn-outline-danger" *ngIf="tripInfo.legs.length > 1"
                    (click)="removeLastLeg()">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
</div>
