<form>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12 col-lg-6 mt-lg-0 mt-4">
          <app-autocomplete [entries]="allAirports" name="departure" placeholder="departure" label="Departure" (nativeInput)="filterValues.from = $event" (valueChanged)="filterValues.from = $event.label" [value]="filterValues.from ? { label: filterValues.from, value: filterValues.from } : undefined"></app-autocomplete>
        </div>
        <div class="col-12 col-lg-6 mt-lg-0 mt-4">
          <app-autocomplete [entries]="allAirports" name="arrival" placeholder="arrival" label="Arrival" (nativeInput)="filterValues.to = $event" (valueChanged)="filterValues.to = $event.label" [value]="filterValues.to ? { label: filterValues.to, value: filterValues.to } : undefined"></app-autocomplete>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12 col-lg-4 mt-lg-0 mt-4 schedule-date">
          <label for="scheduleDate">Schedule date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="scheduleDate" name="scheduleDate" (dateSelect)="updateScheduleDate($event)" [value]="filterValues.dateOfFlight" ngbDatepicker #d="ngbDatepicker" />
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><span class="bi bi-calendar3"></span></button>
          </div>
        </div>
        <div class="col-12 col-lg-4 mt-lg-0 mt-4">
          <label for="acType">Aircraft type</label>
          <select id="acType" class="form-control" (change)="updateAircraftType($event)">
            <option selected value="">Any</option>
            <option *ngFor="let aircraft of allAircraftTypes" [selected]="aircraft.label === filterValues.aircraftType">{{ aircraft.label }}</option>
          </select>
        </div>
        <div class="col-12 col-lg-4 mt-lg-0 mt-4 schedule-available-for-me">
          <label></label>
          <div class="form-check position-relative">
            <label class="form-check-label" for="availableForMe">Only available for me</label>
            <input class="form-check-input" type="checkbox" id="availableForMe" (change)="filterValues.availableForMe = !filterValues.availableForMe" [checked]="filterValues.availableForMe">
            <div class="form-check-sign"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 d-flex">
      <button class="btn btn-primary w-100 align-self-end filter-btn mt-lg-0 mt-lg-0 mt-4" (click)="filterSubmit()">Filter</button>
    </div>
  </div>
</form>
