/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import 'assets/css/font-awesome/all.min.css';

.timetable {
  td, th {
    letter-spacing: 3px;
    background: #000;
    font-weight: 300;
    text-align: center;
    color: var(--bs-orange);

    .day-of-week {
      flex-grow: 1;
      border: solid 1px #565656;
      margin-left: -1px;
      background: #666;
      letter-spacing: 0;
      color: var(--bs-secondary-bg-subtle);

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.active {
        background: var(--bs-orange);
        border-color: #cf5e00;
        color: #FFFFFF;
      }
    }
  }
}

.card {
    border-radius: 12px;
    border: none;

    .card-header {
        font-size: 1rem;
        font-weight: bold;
        border-radius: 12px 12px 0 0;
        padding: 10px;

        button {
            margin: 0;
        }
    }

    .card-body {
        font-size: 0.85rem;
    }
}

.boarding-pass {
    border: 1px dashed #000000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.boarding-pass.selected {
    border: 1px solid var(--bs-primary);
    box-shadow: var(--bs-box-shadow);
    background: var(--bs-body-bg);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
