<div class="autocomplete-wrapper form-group">
  <label *ngIf="label" [for]="'autocomplete-' + name">{{ label }}</label>
  <input autocomplete="off" type="text" #input (input)="filterEntries($event)" [value]="selectedValue?.label" [id]="'autocomplete-' + name" class="form-control" [placeholder]="placeholder">
  <input type="hidden" [value]="selectedValue?.value" [name]="name">
  <ul class="autocomplete-entries" *ngIf="opened">
    <li *ngFor="let entry of filteredEntries()">
      <a href="javascript:void(0)" (click)="selectEntry(entry)">{{ entry.label }}</a>
    </li>
  </ul>
</div>
