.main-menu {
  li {
    a {
      position: relative;
      font-size: 16px;

      &:hover:after, &.active:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 57px;
        left: 0;
        height: 4px;
        background: #FFFFFF;
      }
    }
  }
}
